/* Custom CSS Styles to override Bootstrap */
/* #7EB1D4 Light
   #515D73 Dark

  BD632F
  D8973C
  EDE6D1
  A4243B

  light bg
  #E9ECEF


/*
  ========================================
  SASS Variables
  ========================================
*/
/*
  ========================================
  Custom styles
  ========================================
*/
body {
  background-color: #E9ECEF;
  color: #515D73;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  color: #515D73;
}

h1 {
  font-size: 32px;
  line-height: 44px;
}

h2 {
  font-size: 28px;
  line-height: 30px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size:18px;
}

h5 {
  font-size: 16px;
}

strong {
  font-weight: 400;
}

cite, em {
  font-style: italic;
}

.text-muted {
  color: #515D73;
}

/*
==========================
NAVBAR
==========================
*/
#navbar {
  background-color: #7EB1D4;
}

#logo {
  font-weight: 700;
  color: #515D73;
}

#logo:hover {
  color: #333;
}

.navbar-nav .nav-item .nav-link {
  font-weight: 700;
  color: #FFF;
}

/*
==========================
SEARCH BAR
==========================
*/
#searchbar {
}

.custom-select {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #515D73;
  margin-right: -1px;
  color: #7EB1D4;
  background-color: #515D73;
}

.custom-select:hover, .custom-select:focus {
  color: #FFF;
  background-color: #515D73;
}

.search-text {
  border-radius: 0;
  border: 1px solid #515D73;
  width: 220px;
}

.search {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -10px;
}



/*
==========================
FOOTER
==========================
*/
.footer {
  color: #FFF;
  margin-top: 20px;
  font-weight: 400;
}

.footer .footer-text {
  margin: 5px;
}

/*
===========================
CONTAINER
===========================
*/
.container {
  background-color: #FFF;
  border-radius: 10px;
  border: 1px solid grey;
  -webkit-box-shadow: 11px 11px 10px -4px rgba(0,0,0,0.5);
  -moz-box-shadow: 11px 11px 10px -4px rgba(0,0,0,0.5);
  box-shadow: 11px 11px 10px -4px rgba(0,0,0,0.5);
  margin-top: 20px;
}

.container h1, .container h2, .container .row {
  padding-top: 20px;
}

/*
===========================
BUTTONS
===========================
*/
.btn-primary {
  color: #7EB1D4;
  background-color: #515D73;
  border-color: #515D73;
}

.btn-primary:hover {
  color: #FFF;
  background-color: #515D73;
  border-color: #515D73;
}

/*
==========================
TABLES
==========================
*/
table.table {
  margin-bottom: 5px;
}

th, td {
  font-size: 12px;
  line-height: 12px;
}

/*
==========================
CARDS
==========================
*/

.card {
  background-color: none;
}

.card:hover {
  background-color:  rgba(50, 50, 50, 0.03);
}

.card-body {
  padding-bottom: 0px;
}

a .card-subtitle {
  font-size: 12px;
  color:  #515D73;
  text-decoration: none;
}

.card .num-ratings {
  margin-left: 84px;
  padding-bottom: none;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
}

/*
==========================
STAR RATING IMGS
==========================
*/

.card .star-rating {
  float: left;
  width: 80px;
}

.bdstar-rating {
  max-width: 80px;
}

/*
==========================
BOOK DETAILS PAGE
==========================
*/

.book-details-image {
  padding-bottom: 20px;
}

.review .bdstar-rating {
  max-width: 80px;
}

.review h4 {
  padding-top: 10px;
}

.review h5 {
  line-height: 20px;
  margin-bottom: 0;
}

.review p.date {
  font-size: 12px;
  font-weight: 700;
}
/*
==========================
LOGIN and REGISTER
==========================
*/
body {
  background-image: url("login_bg.jpg");
}

.login.container, .register.container {
  margin-top: 100px;
  border-radius: 10px;
  border: 1px solid grey;
  background-color: #FFF;
  -webkit-box-shadow: 11px 11px 10px -4px rgba(0,0,0,0.5);
  -moz-box-shadow: 11px 11px 10px -4px rgba(0,0,0,0.5);
  box-shadow: 11px 11px 10px -4px rgba(0,0,0,0.5);
  max-width: 420px;
}

.login .btn, .register .btn {
  margin-top: 30px;
  margin-bottom: 10px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.login .form-signin input[type="text"], .register #inputPassword {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.login .form-signin input[type="password"], .register #checkPassword {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.register #inputPassword {
  margin-top: 20px;
}


/*
=============================
RESPONSIVE
=============================
*/

@media screen and (max-width: 766px) {
  .book-cover {
    max-height: 100px;
    text-align: center;
  }
}