{% extends "layout.html" %}

{% block title %}Books by {{author[0][3]}} {% endblock %}

{% block main %}

  <!-- Reviews Grid -->
  <div class="container text-left">
    <h2><a href="/author_details/{{author[0][3]}}">Books by {{author[0][3]}}</a>:</h2>
    <div class="row">
      {% for book in author %}
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 py-2">
          <div class="card mb-4 shadow-sm">
            <a href="/book_details/{{book[0]}}">
            <img src="https://covers.openlibrary.org/b/isbn/{{book[1]}}-L.jpg?default=false" class="card-img-top book-cover-L" alt="Book Cover Art" onerror="this.onerror=null;this.src='/static/default_cover.jpg';">
            </a>
            <div class="card-body">
              <img src="https://covers.openlibrary.org/b/isbn/{{book[1]}}-L.jpg?default=false" class="book-cover-S" alt="Book Cover Art" onerror="this.onerror=null;this.src='/static/default_cover.jpg';">
              <a href="/book_details/{{book[0]}}">
                <h5 class="card-title">{{ book[2] }}</h5>
              </a>
              <a href="/author_details/{{ book[3] }}">
                <p class="card-subtitle">{{ book[3] }}</p>
              </a>
                <img class="star-rating" src="/static/{{ book[7] }}" alt="star rating">
                <p class ="num-ratings">  {{ book[5] }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}