{% extends "layout.html" %}

{% block title %}Book Details: {{book[0][2]}} {% endblock %}

{% block main %}
<!--Book-Details Container-->
  <div class="container text-left">
    <div class="row">
      <div class="col-md-3">
        <img src="http://covers.openlibrary.org/b/isbn/{{book[0][1]}}-L.jpg?default=false" class="book-details-image" style="width: 100%;" alt="Book Cover Art" onerror="this.onerror=null;this.src='/static/default_cover.jpg';">
      </div>
      <div class="col-md-9">
        <h2>{{book[0][2]}}</h2>
        <h4>by <a href="/author_details/{{book[0][3]}}">{{book[0][3]}}</a></h4>
        <hr>
        <p><strong><img src="/static/RR_icon.png" style="max-height: 18px;"> R-R Rating: </strong><img class="bdstar-rating" src="/static/{{ book[0][7] }}" style="width: 80px;" alt="star rating"> -  {{book[0][6]}} with {{book[0][5]}} review(s)</p>
        <p><a href="https://www.goodreads.com/"><i class="fab fa-goodreads"></i></a><strong>  Goodreads Rating:</strong> {{good_reads[0]}} with {{good_reads[1]}} review(s)</p>
        <p><strong>Publication Year:</strong> {{book[0][4]}}</p>
        <p><strong>ISBN:</strong> {{book[0][1]}}</p>
      </div>
    </div>
  </div>

<!-- User own review section -->
<div class="review container text-left">
  {% if session.user_id %}
  <!-- Display user's own review -->
  {% else %}
  <!-- Display info and login/register links-->
  <h4><a href="/login">Log in</a> to your account or <a href="/register">register</a> for a new account to leave your own review for: {{book[0][2]}}.</h4>
  {% endif %}
</div>

<!-- Read-Rate Reviews-->
<div class="review container text-left">
  <h2>READ-RATE book reviews: </h2>
  {% for review in reviews %}
    <div class="row">
      <div class="col-md-12">
        <h5><img class="bdstar-rating" src="/static/{{ review[5] }}" alt="star rating"> - by <a href="/user_details/{{review[0]}}">{{ review[1] }}</a></h5>
        <p class="date">Reviewed {{ review[3] }}</p>
        <p>{{ review[2] }}</p>
      </div>
    </div>
    <hr>
  {% endfor %}
</div>
{% endblock %}

{% block footer %}
  <p class="footer-text">Background image Photo by <a href="https://www.pexels.com/@thepoorphotographer">Janko Ferlic via Pexels.</a></p>
  <p class="footer-text">&copy; 2020 P.L.Coster</p>
{% endblock %}