{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}
  <!--Jumbotron Container-->
  <div class="announcement container text-left">
    <div class="row">
      <div class="col-md-4">
        <img src="static/book_icon.png" alt="The READ-RATE app logo">
      </div>
      <div class="col-md-8">
        <h1>Welcome to READ-RATE!</h1>
        <p class="lead">READ-RATE is a book review website, where you can rate for books you have read, and view reviews by other users.</p>
        <p class="lead"> Paul's interests outside of Computer Science include Chemistry and Physics, Cooking, Bass Guitar, Hiking and Bouldering. </p>
        <p class="lead">He has a Master's Degree in Chemical Physics from the University of Edinburgh, and also trained as a chef at Edinburgh New Town Cookery  School, completing their Six-Month Practical Cookery Diploma.</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <p class="footer-text">Background image Photo by <a href="https://www.pexels.com/@thepoorphotographer">Janko Ferlic via Pexels.</a></p>
  <p class="footer-text">&copy; 2020 P.L.Coster</p>
{% endblock %}