{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}
  <!--Jumbotron Container-->
  <section class="jumbotron text-left ">
    <div class="container">
      <div class="col-md-12">
        <h1>Welcome to READ-RATE!</h1>
        <p class="lead">READ-RATE is a book review website, where you can rate for books you have read, and view reviews by other users.</p>
        <p class="lead"> To get started, try searching our database for a book by author, title or ISBN:</p>
        <p class="lead">If you want to write your own reviews and get book recommendations based on your reviews, please <a href ="/login">sign in to your account</a> or <a href="/register"> register for a new account</a>.</p>
      </div>
    </div>
  </section>

  <!-- Reviews Grid -->
  <div class="container text-left">
    <h2>Highest Rated Books This Month:</h2>
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="card mb-4 shadow-sm">
          <img src="assets/Projects/CS50W.png" class="card-img-top" alt="CS0Web Logo">
          <div class="card-body">
            <h3 class="card-title">Placeholder</h3>
            <p class="card-text">Placeholder Book</p>
            <!--
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="about.html" class="btn btn-primary">About</a>
              </div>
            </div>
            !-->
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="card mb-4 shadow-sm">
          <img src="assets/Projects/CS50W.png" class="card-img-top" alt="CS0Web Logo">
          <div class="card-body">
            <h3 class="card-title">Placeholder</h3>
            <p class="card-text">Placeholder Book</p>
            <!--
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="about.html" class="btn btn-primary">About</a>
              </div>
            </div>
            !-->
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="card mb-4 shadow-sm">
          <img src="assets/Projects/CS50W.png" class="card-img-top" alt="CS0Web Logo">
          <div class="card-body">
            <h3 class="card-title">Placeholder</h3>
            <p class="card-text">Placeholder Book</p>
            <!--
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="about.html" class="btn btn-primary">About</a>
              </div>
            </div>
            !-->
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-4">
        <div class="card mb-4 shadow-sm">
          <img src="assets/Projects/CS50W.png" class="card-img-top" alt="CS0Web Logo">
          <div class="card-body">
            <h3 class="card-title">Placeholder</h3>
            <p class="card-text">Placeholder Book</p>
            <!--
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="about.html" class="btn btn-primary">About</a>
              </div>
            </div>
            !-->
          </div>
        </div>
      </div>
    </div>
    <hr>
    <h2>Recent Reviews:</h2>
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="card mb-4 shadow-sm">
          <img src="assets/Projects/CS50W.png" class="card-img-top" alt="CS0Web Logo">
          <div class="card-body">
            <h3 class="card-title">Placeholder</h3>
            <p class="card-text">Placeholder Book</p>
            <!--
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="about.html" class="btn btn-primary">About</a>
              </div>
            </div>
            !-->
          </div>
        </div>
      </div>
    </div>
    <hr>
    <h2>Some other category:</h2>
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="card mb-4 shadow-sm">
          <img src="assets/Projects/CS50W.png" class="card-img-top" alt="CS0Web Logo">
          <div class="card-body">
            <h3 class="card-title">Placeholder</h3>
            <p class="card-text">Placeholder Book</p>
            <!--
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="about.html" class="btn btn-primary">About</a>
              </div>
            </div>
            !-->
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <p class="footer-text">Background image Photo by <a href="https://www.pexels.com/@thepoorphotographer">Janko Ferlic via Pexels.</a></p>
  <p class="footer-text">&copy; 2020 P.L.Coster</p>
{% endblock %}